@model UserData.Core.Model.UserPage
@{
    int i = 0;
    string message = TempData["Message"] != null ? TempData["Message"].ToString() : string.Empty;
}
<head>
    
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<style>
    .logoutLblPos {
        position: fixed;
        right: 50px;
        top: 20px;
    }

    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        color: white;
        margin: 10px;
        font-weight:900;
    }

        .dataTables_wrapper .dataTables_filter input {
            border: 2px solid white;
            
            color:white;
        }

        .dataTables_wrapper .dataTables_length select {
            border: 1px solid #aaa;
            border-radius: 3px;
            padding: 5px;
            background-color: #563737;
            color: inherit;
            padding: 4px;
        }

    tbody, td, tfoot, th, thead, tr {
        border-color: black;
    }

    thead {
        background-color: lightcyan;
    }

    tbody {
        background-color: white;
    }


    .backgroundImage {
        background: url(/Images/Passengerdetail.jpg) no-repeat;
        background-size: cover;
    }
</style>
<body class="backgroundImage">
    <header>
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
            <div class="container-fluid">
            @if (!string.IsNullOrEmpty(message))
            {
                <div class="alert alert-success" style="width:300px;margin-left:70%;">@message</div>
            }
               <table>
                
                <button style="font-size:14px;margin-left:91%;margin-top:2%;border-radius:5px;" class="btn btn-danger" onclick="LogoutDashboard()">Logout <i class="fa fa-sign-out" style="font-size:14px;color:white"></i></button>
                <p id="currentTime" style="color:white;font-weight:500;"></p>
                    <tr>
                        <td><b>User Name</b></td>
                        <td>:</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td><b>Email Id</b></td>
                        <td>:</td>
                        <td>@Model.EmailId</td>
                    </tr>
                    <tr>
                        <td><b>Address</b></td>
                        <td>:</td>
                        <td>@Model.Address</td>
                    </tr>
                    <tr>
                        <td><b>Phone Number</b></td>
                        <td>:</td>
                        <td>@Model.Phonenumber</td>
                    </tr>
               </table>
                
            </div>
        @* </nav> *@
    </header>
    <button style="font-size:14px;margin-left:90%;border-radius:5px;" class="btn btn-primary" onclick="FindBus()">Find Bus <i class="fa fa-search" style="font-size:14px;color:white"></i></button>
    
    <table id="CompletedJourny" class="table table-striped" style="width:100%;">
        <thead>
            <div style="width:17%;background-color:whitesmoke;border-radius:5px;">
                <h5 style="color:black;font-weight:bolder">History of booking</h5>
            </div>
            <tr>
                <th>SNo</th>
                <th>Reference Id</th>
                <th>Source</th>
                <th>Destination</th>
                
                <th>Departure Date and Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.userdetailList)
            {

                i++;
                <tr>
                    <td>@i</td>
                    <td>@item.referenceNumber</td>
                    <td>@item.Source</td>
                    <td>@item.Destination</td>
                    <td>@item.DateTime</td>
                    <td style="text-align:center;">
                       <button type="button" class="btn btn-secondary" onclick="View(@item.referenceNumber,@item.ticketId)">View</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="modal fade" id="partialModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Fill the below details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align:left">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    new DataTable('#example');
    new DataTable('#CompletedJourny');
    function FnCreateBus() {
        location.href = "/BusSeatPrebook/AddOrUpdateBus/";
    }
    function View(referenceid,ticketid) {
        location.href = "/BusSeatPrebook/ViewPassengerDetail/?referenceId=" + referenceid+"&ticketId="+ticketid;
    }
    // function FindBus() {
    //     Swal.fire({
    //         title: 'Enter Details',
    //         html:
    //             '<b>@Html.Label("Source")<br /></b>' +
    //             ' @Html.TextBoxFor(m => m.findBus.Source,new { @id = "Source" })<br />' +
    //             '<b>@Html.Label("Destination")<br /></b>' +
    //             '@Html.TextBoxFor(m => m.findBus.Destination,new { @id = "Destination" })<br />' +
    //             '<b>@Html.Label("Date")<br /></b>' +
    //             '@Html.TextBoxFor(m => m.findBus.DateTime,new{@type="datetime-local", @id="DateTime"})',
    //         showCancelButton: true,
    //         confirmButtonText: 'Find',
    //         cancelButtonText: 'Cancel',
    //         preConfirm: () => {
    //             const source = document.getElementById('Source').value;
    //             const destination = document.getElementById('Destination').value;
    //             const date = document.getElementById('DateTime').value;

    //             if (!source || !destination) {
    //                 Swal.showValidationMessage('Please enter all the details');
    //             }
    //             findBus(source, destination, date);
    //         }
    //     });
    // }
    // function findBus(source, destination, date) 
    // {
      
    //     location.href = "/BusSeatPrebook/SearchAvailableBuses/?source=" + source + "&destination=" + destination
    //         + "&dateTime=" + date;

    // }
        
    
    $(document).ready(function () {
        hideAlert();
        $('#example').DataTable();

    });
    $(document).ready(function () {
        hideAlert();
        $('#CompletedJourny').DataTable();

    });

    function Schedule(id) {
        if (id > 0) {
            top.location.href = "/BusSeatPrebook/GetBusTravelSchedule/?BusId=" + id;
        }
    }
    function LogoutDashboard() {
        // if (confirm("Are you Sure Want To Logout?"))
        // {
        //     location.href = "/Student/StudentLogIn/";
        // }
        Swal.fire({
            title: 'Are you sure want to logout?',
            text: "You are logout from this page",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085D6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, logout!'
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = "/BusSeatPrebook/UserOrAdminLogin/";
                Swal.fire(
                    'logout!',
                    'success'
                )
            }
        })
    }
    function hideAlert() {
        setTimeout(function () {
            $(".alert").fadeOut("slow");
        }, 4000);
    }

    function FindBus() {
        $.ajax({
            type: "GET",
            url: "/BusSeatPrebook/_Partialview/",
            
            cache: true,
            success: function (data) {
                $("#partialModal").find(".modal-body").html(data);
                $("#partialModal").modal('show');


            }
        });

    }
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };

    function showTime() {
        document.getElementById('currentTime').innerHTML = new Date().toString();
    }
    showTime();
    setInterval(function () {
        showTime();
    }, 1000);
</script>
